---
---

@import "minimal-light";

#projects + ul {
  margin-top: 0;
}

#projects + ul li {
  line-height: 1.45;
  margin-bottom: 14px;
}

.project-title {
  display: block;
  color: #39c !important;
  font-size: 1.22rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

.project-summary {
  display: block;
  line-height: 1.45;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .project-title {
    color: rgb(62, 183, 240);
  }
}
