---
---

@import "minimal-light-no-dark-mode";

#projects + ul {
  margin-top: 0;
}

#projects + ul li {
  margin-bottom: 10px;
}

.project-title {
  color: #043361;
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.1;
}

.project-summary {
  display: inline-block;
  line-height: 1.5;
  margin-top: 0;
}
